.characters-page {
  padding: 4rem 0 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characters-page__title {
  font-family: "Rubik";
  font-size: 1.875rem;
  font-weight: 400;
  color: var(--white);
  width: 19.25rem;
  margin-bottom: 2.5rem;
  /* margin: 4rem 0; */
}

.characters-page__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characters-page__card__container {
  width: 11.75rem;
  height: 19.5625rem;
  margin-bottom: 2.5rem;
  /* border: 1px solid yellow; */
}

.characters-page__card {
  border-radius: 0.5rem;
  width: 11.75rem;
  height: 15.875rem;
  text-align: center;
  position: relative;
  background: linear-gradient(180deg, #06090f00 0%, #06090f 80.79%),
    url(/src/images/Rick_Sanchez.jpg);
  background-size: cover;
  background-position: center;
}

.characters-page__card__title {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "Inter";
  /* position: absolute; */
  margin: 1rem 0;
  text-align: center;
} 

.characters-page__card__subtitle {
  font-family: "Rubik";
  color: var(--grey);
  font-size: 0.875rem;
  font-weight: 400;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
